.btn {
  height: 64px;
  width: 100%;
  border-radius: 8px;
  color: #ffffff;
  background-color: var(--primary-color);
  font-size: 24px;
  border: 1px solid var(--primary-color);
  transition: background-color 300ms ease-in;
}
.btn:hover {
  background-color: #225c9b;
}
.btn:active {
  background-color: #1d4d81;
}
