.formPanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;

  bottom: 0;
  transform: translateY(calc(100% + 12px));
  background: #ffffff;
  padding: 22px;
  border-radius: 8px;
  color: #333333;
  font-size: 16px;
  z-index: 2;
  box-shadow: 0 0 5px var(--border-color);

  &_hidden {
    display: none;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}
