.topSectionBody {
  display: flex;
  flex-direction: column;
  margin: 202px 0 120px;
  @media (max-width: 360px) {
    margin: 0 auto 32px;
  }
}

.topSectionTitle {
  font-size: 50px;
  margin-bottom: 100px;
  @media (max-width: 600px) {
    font-size: 40px;
    margin-bottom: 50px;
  }
  @media (max-width: 360px) {
    font-size: 30px;
    margin: 88px auto 31px;
    padding-left: 8px;
  }
}

.topSectionsIcons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.apple {
  width: 119px;
  height: 40px;
}
.topSectionGoogle {
  width: 135px;
  height: 40px;
}
