.title {
  text-align: center;
  font-size: 40px;
  position: relative;
  &::after {
    content: ' ';
    width: 100px;
    line-height: 4px;
    border: solid var(--accent-color);
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  @media (max-width: 360px) {
    font-size: 28px;
    margin: 0 auto 32px;
    &::after {
      display: none;
    }
  }
}

.items {
  margin-top: 104px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  @media (max-width: 360px) {
    margin-top: 32px;
  }
}

.iconMessage {
  width: 100%;
  max-width: 84px;
  aspect-ratio: 1/1;
  @media (max-width: 360px) {
    max-width: 58px;
  }
}

.iconSupport {
  width: 100%;
  max-width: 76px;
  aspect-ratio: 76/92;
  @media (max-width: 360px) {
    max-width: 52px;
  }
}

.iconBook {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 100/68;
  @media (max-width: 360px) {
    max-width: 70px;
  }
}

.iconLike {
  width: 100%;
  max-width: 92px;
  aspect-ratio: 92/84;
  @media (max-width: 360px) {
    max-width: 64px;
  }
}
